@use "base";
@use "mixins";
@use "sass:color";

.category {
  @include mixins.flex($align: normal, $justify: space-between, $direction: column);

  &__name {
    font-weight: bold;
    background: base.$tertiary-color;
    padding: 8px;
    color: base.$secondary-color;
    border-radius: 4px;
  }

  &--toggle {
    border: 1px solid base.$border-color;
  }

}